body {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

span {
  color: #5891ff;
}

.hidden {
  display: none;
}

.cross {
  text-decoration: line-through;
  color: green;
}

.switch {
  background-color: yellow;
}

button {
  background-color: #5891ff;
  padding: 5px 15px;
  border-radius: 20px;
}

.registration {
  position: absolute;
  z-index: 10;
}

.modal-alert {
  transform: translateX(200%);
  border-radius: 20px;
  padding: 25px 25px;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: 0.3s all linear;
  display: flex;
  background-color: black;
  align-items: center;
}

.active {
  transform: translateX(0);
}

.gonne {
  transform: translateX(500px);
}

.btn-main {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.edit {
  transition: 0.3s all;
  margin-right: 25px;
}

.edit:hover {
  background-color: #0055ff;
  transform: translateY(-3px);
}

.edit:active {
  transform: translateY(10px);
}

.close-modal {
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
}

.sign-in {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.header .logo {
  width: 70px;
}

.title {
  margin-left: 20px;
}

.main-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.title-sub {
  margin: 0 auto;
  padding-bottom: 17px;
  border-bottom: 1px solid #5891ff;
}

.modal {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid white;
  border-radius: 20px;
}

.main {
  margin-bottom: 120px;
}

.form {
  --width-of-input: 400px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  display: flex;
}

/* styling of Input */
.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* Hover on Input */
input:hover {
  outline-offset: 0;
}

input:focus {
  outline: none;
  outline-offset: 0;
}

/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
  outline-offset: 0;
}

/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* input:valid ~ .input-border{
     width: 100%;
   } */
.form-main {
  justify-content: center;
  display: flex;
}

.add {
  margin-left: 10px;
  transition: 0.3s all;
}

.block {
  align-items: center;
}

.doneBtn {
  margin-right: 5px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
}

.input-answer {
  padding: 0px 10px 20px 20px;
  border-bottom: 1px dotted gray;
}

.dolist-text {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.copy-rigth {
  font-size: 9px;
  text-align: center;
  margin-top: calc(100vh - 600px);
  margin-bottom: 5px;
}

.disabledBtn {
  background-color: gray;
  opacity: 0.5;
}

@media (max-width: 580px) {
  input, select {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .modal {
    width: 90%;
  }
  .input-answer {
    padding: 0px 10px 15px 10px;
  }
}
@media (max-width: 490px) {
  .modal-alert {
    width: 95%;
    padding: 25px 25px;
  }
  .form {
    --width-of-input: 310px ;
  }
  .main {
    margin-bottom: 70px;
  }
}/*# sourceMappingURL=style.css.map */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
          font-size: 16px;
      }
  }